* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* grid position for whole site */
.outer-site {
    position: relative;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(8, 1fr);
}

/* title font */
.title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 300%;
}

/* subtitle font */
.sub-title {
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-size: 150%;
}

/* paragraph font */
.paragraph {
    font-family: 'Exo', sans-serif;
}

/* header grid and height */
.header-main {
    grid-area: 1 / 1 / 2 / 9;
    z-index: 9;
    max-height: 75px;
}

/* space for logo */
.logo-space {
    width: 75px;
    height: 75px;
    margin: 15px;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    z-index: 10;
    text-align: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

/* space for nav bar */
nav {
    float: right;
    width: 700px;
    z-index: 10;
    text-align: center;
}

/* div containing links */
.menu-space-inner {
    margin: 10px;
    padding: 25px;
    display: inline-block;
}

/* acutal nav bar links */
.header-nav-link {
    padding-left: 35px;
    padding-right: 35px;
    color: whitesmoke;
}

.header-nav-link:hover {
    color: gray;
}

/* removing underlines for links */
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:active {
    color: lightcoral;
}

/* site excluding header and footer */
.inner-site {
    grid-area: 1 / 1 / 12 / 9;
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(8, 1fr);
    background-image: url("images/bill.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* introduction block with picture */
.intro-block {
    grid-area: 1 / 1 / 5 / 9;
    min-height: 600px;
}

/* space for text in intro */
.intro-content {
    max-width: 70%;
    margin-top: 22%;
    margin-bottom: 18%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    border: thick solid whitesmoke;
    border-radius: 20px;
    box-shadow: 3px 3px 2px black;
    /*text-shadow: 3px 3px 2px black;*/
}

.intro-text-upper, .intro-text-lower{
    display: inline-block;
}

.intro-text {
    color: whitesmoke;
}

/* objective block with text*/
.objective-block {
    grid-area: 5 / 1 / 7 / 9;

    background: rgb(122, 127, 156);
    mix-blend-mode: lighten;
    /* box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, 0.75); */
}

.objective-content {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative bottom;
    text-align: center;
    color: whitesmoke;
}

.objective-text-upper {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 4%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 120%;   
}

.objective-text-lower {
    display: inline-block;
    margin-bottom: 0 !important;
    margin-top: 30px !important;
    font-size: 80%;
    text-shadow: 1px 1px 1px black;
}

.objective-text {
    color: black;
}

.skills-block {
    background-color: whitesmoke;
    grid-area: 7 / 1 / 10 / 9;
    min-height: 105%;
}

.skills-content {
    min-height: 75%;
    margin: 4%;
    text-align: center;
    color: #985E6D;
    position: relative;
}

.skills-title {
    margin-bottom: 40px;
    min-width: 90%;
    display: inline-block;
}

.skills-large {
    font-size: 200%;
}

/* widget things??? */
/* each individual widget thing */
.widget-left {
    float: left !important;
    width: 300px !important;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    position: relative;
}

.widget-right {
    float: right !important;
    width: 300px !important;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    position: relative;
}

.widget-center {
    display: inline-block;
    width: 300px !important;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    position: relative;
}

.widget-icon {
    max-width: 70%;
    max-height: 70%;
    display: inline-block;
}

.widget {
    max-width: 100%;
    max-height: 100%;
}

.widget-title-text {
    margin-top: 20px;
    bottom: 0 !important;
    padding: 5px;
    display: inline-block;
}

.widget-text-text {
    margin-top: 5px;
    bottom: 0 !important;
    padding: 5px;
    display: inline-block;
}

.skills-button {
    display: inline-block;
    bottom: 0;
    padding: 10px;
    margin-top: 30px;
    /*margin: 10px;*/
}

.flat-button {
    background-color: #985E6D;
    border: none;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.flat-button:hover {
    background-color: rgb(102, 50, 64);
}

.contact-block {
    grid-area: 10 / 1 / 12 / 9;
    background-image: url("images/Map-Background.png");
    background-attachment: fixed;
    background-position: left 100px center;
    background-size: cover;
}

.contact-content {
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: #192231;
}

.contact-text {
    display: inline-block;
    margin: 2%;
    font-size: 20px;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}

.block-button {
    background-color: #192231;
    border: none;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.block-button:hover {
    background-color: black;
}

/* footer elements */
footer {
    background-color: #192231;
    grid-area: 12 / 1 / 13 / 9;
}

.footer-text {
    color: #985E6D;
    margin-top: 25px;
    text-align: center;
}

.footer-text-top {
    display: inline-block;
    font-size: 70%;
    width: 95%;
    padding: 5px;
}

.footer-text-bottom {
    display: inline-block;
    font-size: 70%;
    padding: 5px;
    margin-top: 10px;
}

.footer-links {
    min-width: 40%;
    min-height: 40px;
    text-align: center;
}

.footer-link-1, .footer-link-2, .footer-link-3, .footer-link-4 {
    display: inline-block;
    max-height: 30px;
    max-width: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.clip {
    max-width: 100%;
    max-height: 100%;
}

